* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-image: url(https://wallpapercave.com/wp/8hIYog1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: "400";
  }
  p{
    color:white;
    font-weight: bolder;
    font-size:20px ;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: purple; 

  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    background: #f570f3;
    border-radius: 60px;
    padding: 5px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
  }
  
  .nav-link {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    flex-grow: 2;
    height: 100px;
  }
  
  .nav-link:hover {
    color: #fff;
  }
  
  .nav-link:hover::after {
    content: "";
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 1;
    transition: top 0.5s, opacity 0.5s;
  }
  
  /* .container {
    /* Add your container styles here */

  
  .social-links {
    display:flex;
    justify-content: start;
    bottom: 30px; 
    left: 30px; 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-right: 10px;
  }

  .img{
    justify-content: center;
    width: 120px;
    height: 150px;
    border-radius: 30px; 
    margin: 30px;
  }

  .pic{
    display: flex;
    border-radius:35%;
    float:right;
    height:333px;
    }

   .name{
    color:pink
   } 

   h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(228, 40, 228);
  }
  
  .glow {
    font-size: 35px;
    color: #fff;
    text-align: left;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
        0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
  @media screen and (max-width: 720px) {
    nav ul {
      flex-direction: column;
    }
    /* .container {
          background-color: blue;
      } */
  }